<p id="notice"><%= notice %></p>

<h1 class="text-center">Sneakers calendar</h1>
<% if user_signed_in? %>
  <h1 class="text-center">Salut <%=@name%> </h1>
<% end %>

<div class="container border">
  <div class="row d-flex flex-nowrap cardSlide">
    <% @sneakers.each do |sneaker| %>

      <div class="col-12 col-md-4">
        <div class="card">
          <img src="<%= sneaker.image %>" class="card-img-top p-2" alt="...">
          <img src="<%= sneaker.logo %>" width="50" class="m-2" alt="...">

          <div class="card-body">
            <h5 class="card-title"><%= sneaker.tilte %></h5>
            <div class="d-flex justify-content-between">
                <p><%= sneaker.release_date %></p>
                <p><%= sneaker.price %><span>€</span></p>
            </div>
            <% if sneaker.user == current_user && user_signed_in? %>
              <div class="d-flex justify-content-between">
                <button class="btn btn-success" > <a><%= link_to 'Edit', edit_sneaker_path(sneaker) %></a> </button>
                <button class="btn btn-primary" > <a><%= link_to 'Show', sneaker %></a> </button>
                <button class="btn btn-danger" > <a><%= link_to 'Destroy', sneaker, method: :delete, data: { confirm: 'Are you sure?' } %></a> </button>
              </div>
           <% end %>
          </div>
        </div>
      </div>

    <% end %>
  </div>
</div>

<h4 class="text-center">DROP PASSÉS</h4>

<div class="container border borderDrop">
<div class="row row-cols-1 row-cols-md-3 g-4">
  <% @sneakersdrop.each do |sneaker| %>
    <div class="col">
      <div class="card ">
      <div class="background"></div>
        <img src="<%= sneaker.image %>" class="card-img-top p-2" alt="...">
        <img src="<%= sneaker.logo %>" width="50" class="m-2" alt="...">
        <div class="card-body">
          <h5 class="card-tilte"><%= sneaker.tilte %></h5>
          <div class="d-flex justify-content-between">
              <p><%= sneaker.release_date %></p>
              <p><%= sneaker.price %><span>€</span></p>
          </div>
          <% if sneaker.user == current_user && user_signed_in? %>
            <div class="d-flex justify-content-between">
              <button class="btn btn-success" > <a><%= link_to 'Edit', edit_sneaker_path(sneaker) %></a> </button>
              <button class="btn btn-primary" > <a><%= link_to 'Show', sneaker %></a> </button>
              <button class="btn btn-danger" > <a><%= link_to 'Destroy', sneaker, method: :delete, data: { confirm: 'Are you sure?' } %></a> </button>
            </div>
          <% end %>
       </div>
      </div>
    </div>
  <% end %>
</div>
</div>
 <% if user_signed_in? %>
  <%= link_to 'New Sneaker', new_sneaker_path %>
<% end %>
